.modalContainer {
	margin: 20px 10px 20px 10px !important;
}

#courseModalCloseButton {
	background-color: #337ab7;
	color: white;
}

.courseHead {
	text-align: center;
}

#horizontalScroll {
	white-space: nowrap;
	overflow-x: auto;
	background-color: #5cb85c;
	color: white;
}

#horizontalScrollDiv {
	display: inline;
	width: 100px;
}

#horizontalSlider {
	display: inline;
}

.listItems {
	display: inline block;
}