<html ng-app="prereqsApp">

<head>
	<title>UW Prereqs</title>
	<script src="angular.min.js"></script>
	<script src="ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="prereqsCtrl.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body ng-controller="prereqsCtrl">
	Select a subject: <select ng-model="selected_subject">
	<option ng-repeat="subject in subjects">{{subject.subject}}</option>
	<input ng-model="catalog_query.catalog_number">
	<button type="button" class="btn btn-info" ng-click="searchCourse(selected_subject)">Search</button>
	<ul>
		<li ng-repeat="course in courses | filter:catalog_query">
			<p>{{course.subject}} {{course.catalog_number}}</p>
		</li>
	</ul>
</body>
</html>