/*Style page for the index*/

.titleBox {
	width: 100%;
	background-color: #5cb85c;
	height: 150px;
	margin: auto;
	padding-top: 40px;
	color: white;
}

.titleBox, h1 {
	font-size: 2em;
}

.pageTitle {
	text-align: center;
	margin: auto;
}

.container-fluid{
	margin-top: 40px;
}

.form-control{
	float: left;
	width: 30%;
	height: 75px;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 10px;
}

.txtbox {
	width: 30%;
	height: 75px;
	font-size: 1.9em;
	margin: auto 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}

#sub {
	width: 30%;
	height: 75px;
	font-size: 1.8em;
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
}

.listCourse {
	list-style-type: none;
}

.courseLI {
	font-size: 1.5em;
	width: 130px;
	padding: 10px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
}

.courseLI:hover {
	background-color: #5cb85c;
	color: white;
	cursor: pointer;
}

.listBox {
	width: 75%;
	margin: auto;
}
