<div class="container-fluid modalContainer" id="modalCon">
	<h1 class="courseHead">{{course.subject}} {{course.catalog_number}} <h1>
	<!--<h2>{{prereqStr}}<h2>-->
	<br>
	<div id="horizontalSlider">
		<div id="horizontalScrollDiv">
			<ul class="list-inline" id="horizontalScroll">
				<!--<li class="listItems" ng-repeat="course in prereqStr">-->
				<li class="listItems">
					<div>{{prereqStr}}</div>
				</li>
			</ul>
		</div>
	</div>
	<br>
    <button class="btn btn-default pull-right" id="courseModalCloseButton" ng-click="fn()">Close</button>
</div>